{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app-contact-list') }}
{% endblock %}

{% set section_title = pagination.currentPageNumber > 1 ? 'app.contact.list.title' | trans({'%page%': pagination.currentPageNumber}) : '' %}

{% block body %}

    <div class="container">
        <p class="lead">
            <a href="{{ path('contact_add') }}" class="btn btn-primary">{{ 'app.form.add' | trans }}</a>
        </p>

        {% if pagination.totalItemCount == 0 %}
            <p class="lead">{{ 'app.contact.list.empty' | trans }}</p>
        {% else %}
            <div class="list-wrapper">
                {% include 'contact/_list-table.html.twig' with {'pagination': pagination} only %}
            </div>
        {% endif %}
    </div>

{% endblock %}
